<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['']">
          Транспорт
        </a>
      </div>
  
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" [routerLink]="['']" *ngIf="!authService.isAuthenticated">
            Главная страница
          </a>
          <a class="navbar-item" [routerLink]="['/login']" *ngIf="!authService.isAuthenticated">
            Войти
          </a>
          <a class="navbar-item" [routerLink]="['/transport']" *ngIf="authService.isAuthenticated">
            Транспорт
          </a>
          <a class="navbar-item"*ngIf="authService.isAuthenticated" (click)="authService.logout()">
            Выйти
          </a>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  